:root {
  --black: rgb(20, 20, 23);
  --ligtherBlack: rgb(24, 25, 28);
  --greyBlack: rgb(30, 32, 35);
  --darkGray: rgb(178, 179, 180);
  --white: rgba(255, 255, 255);
  --royalBlue: rgb(26, 87, 240);
  --shadowRoyalBlue: rgb(26, 87, 240, 0.2);
  // --answer-color: #02b241;
}
