@import './index.scss';

* {
    font-family: 'Montserrat';
    color: var(--white) !important; 
}

body {
    background: var(--black);
}

a {
    cursor: pointer;
}

a:hover {
    color: var(--royalBlue) !important;
}

.hidden {
    display: none !important;
}